{% load static %}
<link rel="stylesheet" href="{% static 'main/jqwidgets/styles/jqx.base.css' %}" type="text/css" />
<link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'main/css/freelancer.min.css' %}" rel="stylesheet">
<link href="{% static 'main/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{% static 'main/scripts/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/scripts/demos.js' %}"></script>
<script type="text/javascript" src="{% static 'main/jqwidgets/jqxcore.js' %}"></script>
<script type="text/javascript" src="{% static 'main/jqwidgets/jqxdata.js' %}"></script>
<script type="text/javascript" src="{% static 'main/jqwidgets/jqxbuttons.js' %}"></script>
<script type="text/javascript" src="{% static 'main/jqwidgets/jqxscrollbar.js' %}"></script>
<script type="text/javascript" src="{% static 'main/jqwidgets/jqxpanel.js' %}"></script>
<script type="text/javascript" src="{% static 'main/jqwidgets/jqxtree.js' %}"></script>
<script type="text/javascript" src="{% static 'main/jqwidgets/jqxcheckbox.js' %}"></script>
