{% load static %}
<html lang="en">
<head>
{% include "main/meta.html" %}
    {% include "main/classes_scripts.html" %}
    <script type="text/javascript">
        $(document).ready(function () {
          var data = {{tree_object | safe}};
          var source ={datatype: "json",datafields: [{ name: 'id' },{ name: 'parentid' },{ name: 'text' }],
              id: 'id',localdata: data};
            var dataAdapter = new $.jqx.dataAdapter(source);
            dataAdapter.dataBind();
            var records = dataAdapter.getRecordsHierarchy('id', 'parentid', 'items', [{ name: 'text', map: 'label'}]);
            $('#jqxWidget').jqxTree({ source: records, width: '300px',checkboxes:true});
            $('#jqxWidget').css('visibility', 'visible');
            $("#jqxbutton").jqxButton({theme: 'energyblue',width: 200,height: 30  });
            $('#jqxbutton').click(function () {
                var str = "";
                var items = $('#jqxWidget').jqxTree('getCheckedItems');
                for (var i = 0; i < items.length; i++) {
                    var item = items[i];
                    str += item.label + ",";
                  }
                  console.log(str);

                  var url = '/propertyform/';
                  var form = $('<form action="' + url + '" method="post">' +
                    '<input type="text" name="class_names" value="' + str + '" />' +
                    '<input type="hidden" name="form" value="true"/>' +
                    '</form>');
                  $('body').append(form);
                  form.submit();

                });
          });
    </script>
</head>

<body>
{% include "main/navbar.html" %}
<section id="form">
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <div id='content'>
          <div id='jqxWidget'></div>
          <input type="button" style="margin: 10px;" id="jqxbutton" value="Submit form" />
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
