{% extends "main/basic.html" %}
{% block css %}
    {% include "main/template_css.html" %}
{% endblock %}
{% block content %}

<section id="form">
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Upload a file</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form name="sentMessage" id="contactForm" method="POST" action="" enctype="multipart/form-data" novalidate>{% csrf_token %}
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            {{data}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" value="Submit File" class="btn btn-success btn-lg">Upload</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{% include "main/template_scripts.html" %}
{% endblock %}
